<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  <head>
    <meta charset="utf-8">
    {{ partial "CSP.html" . }}
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="{{ .Site.Params.Author }}">
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
    <title>{{ if .IsHome }}{{ else }}{{ if .Title }}{{ .Title }} | {{ end }}{{ end }}{{ .Site.Title }}</title>
    <meta name="description" content="{{ with .Description }}{{ . }}{{ else }}{{ if .IsPage }}{{ .Summary }}{{ else }}{{ with .Site.Params.description }}{{ . }}{{ end }}{{ end }}{{ end }}">

    {{ $bootstrapCSS := resources.Get "js-external/bootstrap.min.css" | resources.Fingerprint }}
    {{ $mainCSS := resources.Get "css/main.css" | minify | resources.Fingerprint }}
    {{ $fontAwesomeCSS := resources.Get "js-external/font-awesome.min.css" | resources.Fingerprint }}

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="{{ $bootstrapCSS.Data.Integrity }}" crossorigin="anonymous">
    <link rel="preload stylesheet" href="{{ $mainCSS.RelPermalink }}" as="style" integrity="{{ $mainCSS.Data.Integrity }}" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="{{ $fontAwesomeCSS.Data.Integrity }}" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,400,200bold,400bold" rel="stylesheet">
    {{ range .Site.Params.custom_css }}
      {{ $styleRtl := resources.Get . | resources.Fingerprint }}
      <link href="{{ $styleRtl.RelPermalink }}" rel="stylesheet" integrity="{{ $styleRtl.Data.Integrity }}" crossorigin="anonymous">
    {{ end }}
    {{ `<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js" ></script>
			<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->` | safeHTML }}

    {{- if .Site.GoogleAnalytics }}
        {{ template "_internal/google_analytics.html" . }}
    {{- end}}

  </head>
  <body>
    <div id="content">
      {{- block "main" . }}{{- end }}
    </div>
    <!-- Footer -->
    {{ partial "footer" . }}
  </body>
</html>
